
@*@model IEnumerable<ShortUrl.Models.URL>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.FullURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.FullURL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortURL)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

*@

<p>Введите ссылку:</p>
<form method="post" action="">
    <input id="URL" type="text" name="FullURL" value="@ViewData["ShortURL"]">
    <input type="submit" value="Сократить">
</form>
@*<p>@Model.ShortURL</p> value="@Model.FullURL"*@